.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #010101;
  min-height: 75vh;
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: calc(10px + 1vmin);
  color: white;
  align-items: stretch;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-link, a {
  color: #08D7C7;
}
.taskmenu {
  list-style-type: none;
  margin:0;
  padding:0;
}
.taskmenu > li {
  margin: 0 0 0.2em;
  padding:0;
}
.taskmenu > li > a {
  color: #9AF3EC;
  text-decoration: none;
}

.col {
  background: #333;
  color: whitesmoke;
  border:3px solid #111;
  flex-grow: 1;
}
.add-task {
  flex: 30%;
}
.task-info {
  flex: 70%;
}
